.tela {
    background-color: cornflowerblue;
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.quadrado {
    background-color: yellow;
    width: 20px;
    height: 20px;
    position: absolute;
}