body {
    background-color: darkgoldenrod;
}

.container {
    position: relative;
    width: 640px;
    height: 360px;
    margin: auto;
    margin-top: 200px;
}

.video {
    width: 100%;
    border: solid 2px;
    border-radius: 10px;
    color: black;
}

.controle {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
}

.btn {
    position: relative;
    width: 50px;
    padding: 10px;
    top: 100%;
    transform: translateY(-100%);
}