.imagem{
	background-image: url("imagem/backgorund.png");
	background-repeat: no-repeat;
	
	position: relative;
	left: 300px;
	top: 90px;
	height: 400px;
}

body{
	background-color: black;
}

p{
	color: black;
	font-family: 'Playfair Display', serif;
	font-size: 40px;
	position: relative;
	left: 40px;
	top: 30px;
}	

li{
	color: black;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	position: relative;
	left: 50px;
	top: -15px;
}

img{
	position: relative;
	top: 10px;
	height: 45px
}
ul{
	list-style-type: none;
}

a{
	text-decoration: none;
}